<div class="footer">
	<!-- <p>版权所有：内蒙古公益事业发展基金会&nbsp;&nbsp; 电话：0471-3255091</p>
	<p>蒙ICP备17003467号-1　&nbsp; 技术支持：<a href="http://www.nmgjoin.com/">灵集科技</a>&nbsp; <img src="cnzz.png" alt=""></p> -->
	<div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__links">
                    <a href="http://redsw.cn" class="weui-footer__link">Author:Vinchou Liu</a>
                </p>
                <p class="weui-footer__text">Copyright &copy; 2019-2024 redsw.cn</p>
            </div>
    </div>
</div>