{layout name="public/layout"}
<style type="text/css">
	a{
		padding-top:8vw;
		padding-bottom:8vw;
	}
</style>
<div class="page uploader js_show">
    <div class="weui-cells">
            <a class="weui-cell weui-cell_access weui-cell_example" href="javascript:;">
                <div class="weui-cell__hd"><img src="__IMG__/project.png" alt="" style="width:20px;margin-right:16px;display:block"></div>
                <div class="weui-cell__bd">
                    <p>行家论坛</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access weui-cell_example" href="{:url('mobile/news/zhihu')}">
                <div class="weui-cell__hd"><img src="__IMG__/project.png" alt="" style="width:20px;margin-right:16px;display:block"></div>
                <div class="weui-cell__bd">
                    <p>每日趣闻</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access weui-cell_example" href="javascript:;">
                <div class="weui-cell__hd"><img src="__IMG__/project.png" alt="" style="width:20px;margin-right:16px;display:block"></div>
                <div class="weui-cell__bd">
                    <p>考试中心</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access weui-cell_example" href="javascript:;">
                <div class="weui-cell__hd"><img src="__IMG__/project.png" alt="" style="width:20px;margin-right:16px;display:block"></div>
                <div class="weui-cell__bd">
                    <p>福利社</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access weui-cell_example" href="javascript:;">
                <div class="weui-cell__hd"><img src="__IMG__/project.png" alt="" style="width:20px;margin-right:16px;display:block"></div>
                <div class="weui-cell__bd">
                    <p>客服反馈</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
            <a class="weui-cell weui-cell_access weui-cell_example" href="javascript:;">
                <div class="weui-cell__hd"><img src="__IMG__/project.png" alt="" style="width:20px;margin-right:16px;display:block"></div>
                <div class="weui-cell__bd">
                    <p>关于行家</p>
                </div>
                <div class="weui-cell__ft"></div>
            </a>
    </div>
</div>